<html ng-app="HeroApp">
<head>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/utils/ui-utils.js"></script>
  <script src="js/unique.js"></script>
  <link rel="stylesheet" href="style.css"/>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="HeroListCtrl">

<div class="container">
    <div class="top">
      <!--Sidebar content-->
      <div class="search-bar">
   <img class="icon" src="img/icons/search.png"/><input class="input" ng-model="query">
 </div>
  <br>
Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">First Appearance</option>
  <option value="species">Species</option>
</select>
 <br>
  <select ng-model="searchSpecies" ng-options="cc.species for cc in herosList | filter:query| orderBy:'heros'">
        <option value="">All Species</option>
    </select>
  <select ng-model="searchTeam" ng-options="cc.team for cc in herosList | filter:query | orderBy:'heros'">
    <option value="">All Teams</option>
    </select>
    <select ng-model="searchTeam" ng-options="cc.team for cc in herosList | filter:query | orderBy:'heros'">
    <option value="">All Teams</option>
    </select>
</div>
<div class="content">
<ul class="heroes">
  <li ng-repeat="Hero in herosList | filter:query | orderBy:orderProp | filter: searchSpecies | filter: searchTeam" style="background:{{Hero.bgcolor}};">
    <h2>{{Hero.name}}</h2>
    <img class="hero-img" src="{{Hero.imageUrl}}"/>
    <p>{{Hero.age}}</p>
      <p>{{Hero.team}}</p> 
    <p>{{Hero.species}}</p>
    <!-- <img src="img/ironman.jpg"/> -->
  </li>
</ul>
  </div>
</div>

</body>
</html>