<html ng-app="HeroApp">
<head>
  <script src="bower_components/angular/angular.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/utils/ui-utils.js"></script>
  <script src="js/script.js"></script>

  <script>$( "#{{Hero.id}}" ).click(function() {
  alert( "Handler for .click() called." );
});</script>

  <link rel="stylesheet" href="style.css"/>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="HeroListCtrl">

<div class="container">
    <div class="top">
      <!--Sidebar content-->
      <div class="search-bar">
   <img class="icon" src="img/icons/search.png"/><input class="input" ng-model="query">
 </div>
  <br>
Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">First Appearance</option>
  <option value="species">Species</option>
</select>
 <br>
  <select ng-model="searchSpecies">
        <option value="">All Species</option>
        <option ng-repeat="species in herosList | extractKey:'species' | unique">{{species}}</option>
  </select>

    <select ng-model="searchTeam">
        <option value="">All Teams</option>
        <option ng-repeat="team in herosList | extractKey:'team' | unique">{{team}}</option>
  </select>
  <select ng-model="searchAge">
        <option value="">All Decades</option>
        <option ng-repeat="age in herosList | extractKey:'age' | unique">{{age}}</option>
  </select>
  <!-- <select ng-model="searchTeam">
    <option value="">All Teams</option>
    </select>
    <select ng-model="searchTeam" ng-options="cc.team for cc in herosList | filter:query | orderBy:'heros'">
    <option value="">All Teams</option>
    </select> -->
</div>
<div class="content">
  <ul class="heroes">
  <li id='{{Hero.id}}' ng-repeat="Hero in herosList | filter:query | orderBy:orderProp | conditionalStrictFilterKey:searchTeam:'team' | conditionalStrictFilterKey:searchSpecies:'species' | conditionalStrictFilterKey:searchAge:'age'" style="background:{{Hero.bgcolor}};">
    <h2>{{Hero.name}}</h2>
    <img class="hero-img" src="{{Hero.imageUrl}}"/>
    <p>{{Hero.age}}</p>
    <p>{{Hero.team}}</p> 
    <p>{{Hero.species}}</p>
    <p class="bio">{{Hero.bio}}</p>
    <!-- <img src="img/ironman.jpg"/> -->
  </li>
</a>
</ul>
  </div>
</div>



</body>
</html>