body {
	width: 100%;
	margin:0;
	background-image: url(img/marvel-bg.png);
	background-position: 50% 0px;
}

.container {
	width: 100%;
}

.content {
	width: 100%;
	/*top: 170px;*/
	position: absolute;
	display: block;
	/*margin-top: 80px;*/
	transition: 0.5s;
}

.content-scroll {
	transition: 0.5s;
}

.content-scroll ul {
	margin-top: 50px;
}

.bio {
	display:none;
	text-align: left;
	width: 90%;
	margin: auto 5%;
	margin-top: 1em;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: normal;
}

.full {
	width: 100%;
	position: fixed;
	height: 100%;
	transition: 0.5s;
	top:0px;
	transform-origin: 50%;
	z-index: 4;
}

.full:hover  img{
-ms-transform: translate(0px,0px); /* IE 9 */
   	-webkit-transform: translate(0px,0px); /* Chrome, Safari, Opera */
    transform: translate(0px,0px);
    transition: 0.2s;
    opacity: 1.0;
}

.full .bio {
	display: block;
	/*animation: 0.5s;*/
}

.full img:hover {
	opacity: 1.0;
	

}

html {
	font-family: Open Sans;
}

h2, span, p {
	font-family: Open Sans;
	color: white;
	/*font-weight: 700;*/
}

p {
	letter-spacing: 0.1em;
	margin: 0.2em 0em;
}



.top p {
	color: white;
	float: none;
}

a {
 float: left;
}

h2 {
	font-size: 16px;
	/*font-weight: bold;*/
	margin:0px;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	height: 1.5em;
	font-family: Oswald;
}

ul {
	width: 100%;
	padding: 0;
	margin:0;
}



li {
	list-style-type: none;
	font-family: Georgia;
	font-size: 14px;
	width: 50%;
	padding: 1em;
	margin: auto;
	text-align: center;
	float: left;
	min-height: 250px;
	  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.5s;
}

.hero-img {
	width: 60%;
	float: none;
	margin: 1em 20%;
	transition: 0.2s;
	opacity:1.0;
	max-height: 150px;
max-width: 150px;
	/*border-radius: 50%;*/
}

li:hover .hero-img {
	transition: 0.1s ease-in-out;
	opacity:0.6;
	 -ms-transform: translate(0px,-5px); /* IE 9 */
   	-webkit-transform: translate(0px,-5px); /* Chrome, Safari, Opera */
    transform: translate(0px,-5px);
	/*width: 65%;
	margin: 1em 17.5%;*/
}

.full:hover .hero-img {
	opacity:1.0;
	max-height: 150px;
	max-width: 150px;
}

.search-bar {
	width: 100%;
	height: 30px;
}

.input:hover {
}

.input {
	font-family: Open Sans;
	text-align: center;
	height: 30px;
	background: #e6e7e8;
	margin: 1em 1em;
	border: none;
	width: 30%;
	display:inline-block;
	vertical-align: middle;
	border-radius: 15px;
	font-size: 12px;
}

#search-icon {
	width: 20px;
	margin: 5px;
	display:inline-block;
	vertical-align: middle;
	/*float:left;*/
}

#sandwich-icon {
	width: 35px;
margin: 8px;
vertical-align: middle;
position: fixed;
float: right;
right: 4px;
}

.visible {
	display: inline-block;
	z-index: 5;
}

select {
	text-align: center;
font-size: 12px;
font-family: Open Sans;
height: 2em;
background-color: white;
border: none;
margin:0.5em;
}

.top {
	text-align: center;
	display:block;
	margin: auto;
	position: relative;
	padding: 50px auto;
	width: 100%;
	background-image: url(img/marvel-bg.png);
	background-position: 50% 0px	;
	/*height: 170px;*/
	/*overflow: hidden;*/
	z-index: 3;
	transition: 0.5s;
}

.scrollTop {
	text-align: center;
	display:block;
	margin: auto;
	position: fixed;
	padding: 50px auto;
	width: 100%;
	/*background-image: url(img/marvel-bg.png);*/
	background:black;
	background-position: 50% 0px	;
	height: 50px;
	/*overflow: hidden;*/
	transition: 0.5s;
	z-index:4;
}
.scrollTop .search-bar, .scrollTop select, .scrollTop p {
	display: none;
}

#top-content {
	display: block;
	padding: 1em 0;
}

.scrollTop #top-content {
	display:none;
}

.full #exit1, .full #exit2 {
	display: block;
	opacity: 1;
	transition: 1s;
}

#exit-box {
	float: left;
width: 25px;
height: 25px;
z-index: 3333;
position: fixed;
left: 20px;
text-align: left;
margin-top: 10px;
}

#exit1 {
height: 25px;
width: 3px;
margin-left: 12px;
background-color: white;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
Z-index: 1;
/* display: none; */
position:fixed;
/*display: none;*/
opacity: 0;
transition: 0.2s;
}

#exit2
{
height: 25px;
width: 3px;
background-color: white;
transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(-45deg);
Z-index: 2;
/* display: none; */
margin-left: 12px;
position:fixed;
/*display:none;*/
opacity: 0;
transition: 0.2s;
}

#back-top a {
float: right;
width: 25px;
height: 25px;
z-index: 3333;
position: fixed;
right: 20px;
text-align: right;
margin-top: 10px;
}

#top-arrow1 {
height: 13px;
width: 3px;
margin-left: 12px;
background-color: white;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
Z-index: 33333;
position: fixed;
transition: 0.2s;
margin-top: 8px;
}

#top-arrow2
{
height: 13px;
width: 3px;
background-color: white;
transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(-45deg);
Z-index: 33333;
margin-left: 20px;
position: fixed;
transition: 0.2s;
margin-top: 8px;
}

@media only screen and (min-width: 768px) {
	li {
		width: 33%;
	}
}

@media only screen and (min-width: 960px) {
	li {
		width: 25%;
	}