body {
	width: 100%;
	margin:0;
	background-image: url(img/marvel-bg.png);
	background-position: 50% 0px;
}

.container {
	width: 100%;
}

.content {
	width: 100%;
	position: absolute;
	display: block;
	transition: 0.5s;
	margin-bottom: 65px;
}

.content-scroll {
	transition: 0.5s;
}

.content-scroll ul {
	margin-top: 50px;
}

.bio {
	display:none;
	text-align: left;
	width: 90%;
	margin: auto 5%;
	margin-top: 1em;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: normal;
}

.full {
width: 100%;
position: fixed;
height: 100%;
transition: 0.5s;
top: 0px;
transform-origin: 50%;
z-index: 4;
padding: 0;
/*-webkit-animation: enter 0.5s;*/
}

@-webkit-keyframes enter {
  0%   { /*margin-left: -10%;*/ opacity: 0;}
  100% { /*margin-left: 5%;*/ opacity: 1.0; }
}

.full .bio {
	display: block;
	transition: 0.5s;
}


.full-info {
	padding: 0;
	transition: 0.8s;
}

.full .full-info {
	padding: 1em;
	transition: 0.8s;
}

.full:hover  img{
-ms-transform: translate(0px,0px); /* IE 9 */
   	-webkit-transform: translate(0px,0px); /* Chrome, Safari, Opera */
    transform: translate(0px,0px);
    transition: 0.2s;
    opacity: 1.0;
}

.full img:hover {
	opacity: 1.0;
}

.full h2 {
	font-size: 18px;
	float: none;
	transition: 0.8s;
	margin: auto;
}

/*.full .full-bg {
	opacity: 1;
	transition: 0.8s;
}

.full-bg {
	width: 100%;
	height: 100%;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0;
	position:fixed;
	z-index: -1;
	transition: 0.8s;
}*/

html {
	font-family: Open Sans;
}

h2, span, p {
	font-family: Open Sans;
	color: white;
	/*font-weight: 700;*/
}

p {
	letter-spacing: 0.1em;
	margin: 0.2em 0em;
}



.top p {
	color: white;
	float: none;
	font-weight: bold;
	text-transform: uppercase;
}

a {
 float: left;
}

h2 {
	font-size: 16px;
	/*font-weight: bold;*/
	margin:0px;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	height: 1.5em;
	font-family: Oswald;
}

ul {
	width: 100%;
	padding: 0;
	margin:0;
}



li {
	list-style-type: none;
	font-family: Georgia;
	font-size: 14px;
	width: 50%;
	padding: 1em;
	margin: auto;
	text-align: center;
	float: left;
	min-height: 250px;
	  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.5s;
    /*-webkit-animation: enter 2.5s;*/
}

.hero-img {
	width: 60%;
	float: none;
	margin: 1em 20%;
	transition: 0.2s;
	opacity:1.0;
	max-height: 150px;
max-width: 150px;
	/*border-radius: 50%;*/
}

li:hover .hero-img {
	transition: 0.1s ease-in-out;
	opacity:0.6;
	 -ms-transform: translate(0px,-5px); /* IE 9 */
   	-webkit-transform: translate(0px,-5px); /* Chrome, Safari, Opera */
    transform: translate(0px,-5px);
}

.full:hover .hero-img {
	opacity:1.0;
	max-height: 150px;
	max-width: 150px;
	transform: translate(0px,0px);
}

.search-bar {
	width: 100%;
	height: 30px;
}

.input {
	font-family: Open Sans;
text-align: center;
height: 30px;
background: white;
margin: 1em 1em;
border: none;
width: 80%;
display: inline-block;
vertical-align: middle;
border-radius: 15px;
font-size: 12px;
/* position: absolute; */
/* margin: 10%; */
}

input:focus ~ #clear-icon {
	opacity: 1;
	transition: 0.5s;
}

#search-icon {
	width: 20px;
margin: 17px;
display: inline-block;
vertical-align: middle;
position: absolute;

}

.search-group {
	width: 50%;
	margin: 1em 25%;
}

/*#clear-icon:hover {
	opacity: 0.6;
	transition: 0.5s;
}*/

#clear-icon {
width: 17px;
margin: 5px;
vertical-align: middle;
transition: 0.5s;
/* display: none; */
opacity: 0;
position: absolute;
float: right;
right: 30%;
top: 46px;
}

.reset {
position: absolute;
width: 35px;
float: right;
background: none;
border: none;
right: 14px;
top: 10px;
height: 35px;
}

.reset:hover > #reset-bg {
	opacity: 0.5;
	border: solid 1px white;
	background: none;
	transition: 0.3s;
}

#reset-bg {
width: 100%;
height: 100%;
position: absolute;
background: white;
opacity: 0.5;
padding: 0;
top: 0;
right: 0;
border: solid 1px white;
transition: 0.3s;
}

#reset-icon {
width: 65%;
display: block;
position: absolute;
margin-top: 17.5%;
margin-left: 17.5%;
top: 0;
right: 6px;
}

#clearSearch {

}

#clear1 {
height: 20px;
width: 5px;
margin-left: 20px;
background-color: white;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
Z-index: 1;
position: fixed;
/*opacity: 0;*/
transition: 0.8s;
margin-top: 10px;	
}

#clear2 {
height: 20px;
width: 5px;
background-color: white;
transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(-45deg);
Z-index: 2;
margin-left: 20px;
position: fixed;
/*opacity: 0;*/
transition: 0.8s;
margin-top: 10px;
}


#sandwich-icon {
	width: 35px;
margin: 8px;
vertical-align: middle;
position: fixed;
float: right;
right: 4px;
}

.visible {
	display: inline-block;
	z-index: 5;
}

select {
	text-align: center;
font-size: 12px;
font-family: Open Sans;
height: 2em;
background-color: white;
border: none;
margin:0.5em;
opacity:0.8;
transition: 0.5s;
}

select:hover {
opacity:1;
transition: 0.5s;
}

.top {
	text-align: center;
	display:block;
	margin: auto;
	position: relative;
	padding: 50px auto;
	width: 100%;
	background-image: url(img/marvel-bg.png);
	background-position: 50% 0px	;
	/*height: 170px;*/
	/*overflow: hidden;*/
	z-index: 3;
	transition: 0.5s;
}

.scrollTop {
	text-align: center;
	display:block;
	margin: auto;
	position: fixed;
	padding: 50px auto;
	width: 100%;
	/*background-image: url(img/marvel-bg.png);*/
	background:black;
	background-position: 50% 0px	;
	height: 50px;
	/*overflow: hidden;*/
	transition: 0.5s;
	z-index:4;
}
.scrollTop .search-bar, .scrollTop select, .scrollTop p {
	display: none;
}

#top-content {
	display: block;
	padding: 1em 0;
}

.scrollTop #top-content {
	display:none;
}

.full #exit1, .full #exit2 {
	display: block;
	opacity: 1;
	transition: 1s;
}

/*#exit-box {
float: left;
width: 50px;
height: 50px;
z-index: 3333;
position: fixed;
left: 20px;
text-align: left;
margin-top: 10px;
background: none;
}*/

#exit-box {
float: left;
width: 35px;
height: 35px;
z-index: 3333;
position: fixed;
left: 20px;
text-align: left;
margin-top: 10px;
background: none;
}

#exit1 {
/*height: 30px;
width: 5px;
margin-left: 27px;
background-color: white;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
Z-index: 1;
position: fixed;
opacity: 0;
transition: 0.8s;
margin-top: 12px;*/

height: 20px;
width: 5px;
margin-left: 20px;
background-color: white;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
Z-index: 1;
position: fixed;
opacity: 0;
transition: 0.8s;
margin-top: 10px;
}

#exit2
{
/*height: 30px;
width: 5px;
background-color: white;
transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(-45deg);
Z-index: 2;
margin-left: 27px;
position: fixed;
opacity: 0;
transition: 0.8s;
margin-top: 12px;*/

height: 20px;
width: 5px;
background-color: white;
transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(-45deg);
Z-index: 2;
margin-left: 20px;
position: fixed;
opacity: 0;
transition: 0.8s;
margin-top: 10px;
}

#exit-top-bg {
width: 100%;
height: 100%;
background: white;
margin-left: 5px;
margin-top: 2px;
opacity:0;
transition: 0.8s;
}

.full #exit-top-bg {
	opacity: 0.5;
	transition: 0.8s;
	width: 100%;
	height: 100%;
	background: white;
	margin-left: 5px;
	margin-top: 2px;
}

#back-top a {
float: right;
width: 35px;
height: 35px;
z-index: 3333;
position: fixed;
right: 20px;
text-align: right;
margin-top: 8px;
}

#back-top-bg {
width: 100%;
height: 100%;
background: white;
margin-left: 6px;
margin-top: 2px;
opacity: 0.5;
border: solid 1px white;
transition: 0.6s;
}

#back-top a:hover > #back-top-bg {
	opacity: 0.5;
	background:none;
	border: solid 1px white;
	transition: 0.3s;
}

#top-arrow1 {
/*height: 22px;
width: 5px;
margin-left: 22px;
background-color: white;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
Z-index: 33333;
position: fixed;
transition: 0.2s;
margin-top: 15px;*/

height: 18px;
width: 5px;
margin-left: 16px;
background-color: white;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
Z-index: 33333;
position: fixed;
transition: 0.2s;
margin-top: 12px;
}

#top-arrow2
{
height: 18px;
width: 5px;
background-color: white;
transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(-45deg);
Z-index: 33333;
margin-left: 26px;
position: fixed;
transition: 0.2s;
margin-top: 12px;

/*height: 22px;
width: 5px;
background-color: white;
transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(-45deg);
Z-index: 33333;
margin-left: 35px;
position: fixed;
transition: 0.2s;
margin-top: 15px;*/
}

.foot {
background: black;
/* padding: 2% 23.5%; */
text-align: center;
font-size: 10px;
bottom: -70px;
position: absolute;
margin: 0px;
width: 100%;
padding: 14px 0;
}

@media only screen and (min-width: 768px) {
	li {
		width: 33%;
	}
}

@media only screen and (min-width: 960px) {
	li {
		width: 25%;
	}